body{
    background-color: #a2d2ff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav {
    background-color: #cdb4db;
    padding: 20px;
}
a {
    color: black;
    margin: 35px;
}
h1 {
    background-color: #ffc8dd;
}
img {
    border: 5px solid #bde0fe;
}
p {
    padding: 10px;
}
footer{ 
    background-color: #ffc8dd;
    color: white;
}